In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 30)

In [2]:
df1 = pd.read_csv('./data/hurriyet1.csv')
df2 = pd.read_csv('./data/hurriyet2.csv')
df3 = pd.read_csv('./data/hurriyet3.csv')
df4 = pd.read_csv('./data/hurriyet4.csv')
df5 = pd.read_csv('./data/hurriyet5.csv')
df6 = pd.read_csv('./data/hurriyet6.csv')
df_combined = pd.concat([df1,df2,df3,df4,df5,df6])
df_combined.drop_duplicates(inplace=True)
df_combined.reset_index(drop=True,inplace=True)

In [3]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25119 entries, 0 to 25118
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    25119 non-null  object
 1   district                25119 non-null  object
 2   neighborhood            25119 non-null  object
 3   prop_type               25119 non-null  object
 4   rooms                   25119 non-null  int64
 5   living_room             25119 non-null  int64
 6   price                   25119 non-null  object
 7   last_edit               25119 non-null  object
 8   area                    25119 non-null  object
 9   prop_floor              23849 non-null  object
 10  building_age            25119 non-null  object
 11  heating_type            25119 non-null  object
 12  building_floors         23538 non-null  object
 13  credit_availability     25117 non-null  object
 14  furniture_availability  25119 non-null  object
 15  bathrooms               25117 non-null  float64
 16  building_type           21701 non-null  object
 17  building_status         21983 non-null  object
 18  usage_status            22387 non-null  object
 19  deed                    19412 non-null  object
 20  dues                    9719 non-null   object
 21  swap                    17715 non-null  object
 22  student_single          13358 non-null  object
 23  facade                  18684 non-null  object
 24  fuel_type               22486 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 4.8+ MB

In [4]:
df_combined.head()

,city,district,neighborhood,prop_type,rooms,living_room,price,last_edit,area,prop_floor,building_age,heating_type,building_floors,credit_availability,furniture_availability,bathrooms,building_type,building_status,usage_status,deed,dues,swap,student_single,facade,fuel_type
0,İstanbul,Şişli,Fulya,Daire,3,1,980.000 TL,Bugün,140 m2,7. Kat,30 Yaşında,Kombi,8 Katlı,Uygun,Eşyalı Değil,2.0,Betonarme,İkinci El,Boş,Kat Mülkiyeti,200 TL,Hayır,Evet,"Güney,",Doğalgaz
1,İstanbul,Beşiktaş,Gayrettepe,Daire,3,1,900.000 TL,Bugün,110 m2,8. Kat,30 Yaşında,Merkezi,9 Katlı,Uygun,Eşyalı Değil,1.0,Betonarme,İkinci El,Boş,Kat Mülkiyeti,450 TL,Hayır,Evet,"Kuzey,",Doğalgaz
2,İstanbul,Ümraniye,Yamanevler,Daire,3,1,1.890.000 TL,Bugün,178 m2,10. Kat,Sıfır Bina,Merkezi (Pay Ölçer),29 Katlı,Uygun,Eşyalı Değil,2.0,Betonarme,Sıfır,Ev Sahibi Oturuyor,Kat Mülkiyeti,622 TL,Hayır,Evet,"Güney,",Doğalgaz
3,İstanbul,Eyüpsultan,Göktürk Merkez,Villa,6,1,12.500.000 TL,Bugün,500 m2,Villa Katı,10 Yaşında,Kombi,4 Katlı,Uygun,Eşyalı Değil,4.0,Betonarme,İkinci El,Ev Sahibi Oturuyor,Kat Mülkiyeti,1.800 TL,Hayır,Evet,"Güney,",Doğalgaz
4,İstanbul,Avcılar,Mustafa Kemal Paşa,Daire,4,1,329.000 TL,Bugün,155 m2,2. Kat,Sıfır Bina,Kombi,5 Katlı,Uygun,Eşyalı Değil,1.0,Betonarme,Sıfır,Boş,Kat Mülkiyeti,NaN,Evet,Evet,Güney,Doğalgaz

In [5]:
df_combined['city'].value_counts()

İstanbul    25119
Name: city, dtype: int64

In [6]:
df_combined['district'].value_counts()

Kadıköy          3498
Maltepe          1562
Beylikdüzü       1479
Sarıyer          1466
Beşiktaş         1460
Şişli            1445
Bahçelievler     1316
Bakırköy         1261
Üsküdar          1131
Kağıthane        1045
Fatih             848
Esenyurt          806
Eyüpsultan        772
Küçükçekmece      549
Büyükçekmece      531
Beyoğlu           525
Avcılar           382
Güngören          370
Kartal            368
Ataşehir          366
Başakşehir        340
Beykoz            331
Çekmeköy          326
Ümraniye          321
Gaziosmanpaşa     291
Adalar            265
Sancaktepe        258
Zeytinburnu       252
Pendik            242
Silivri           239
Bağcılar          196
Tuzla             191
Bayrampaşa        165
Şile              139
Esenler           124
Sultangazi         86
Arnavutköy         82
Sultanbeyli        55
Çatalca            36
Name: district, dtype: int64

In [7]:
df_combined['neighborhood'].value_counts()

Cumhuriyet            908
Suadiye               751
Caddebostan           492
Fenerbahçe            427
Siyavuşpaşa           410
                     ...
Çelebi                  1
Oklalı                  1
Paşamandıra             1
Mahmut Şevket Paşa      1
Habibler                1
Name: neighborhood, Length: 629, dtype: int64

In [8]:
df_combined['prop_type'].value_counts()

Daire           21698
Villa            1354
Residence        1067
Bina              414
Müstakil Ev       331
Köşk               62
Yalı Dairesi       56
Yalı               51
Çiftlik Evi        41
Yazlık             27
Köy Evi             9
Loft Daire          6
Kooperatif          2
Dağ Evi             1
Name: prop_type, dtype: int64

In [9]:
df_combined['rooms'].value_counts()

2      8708
3      7939
4      3418
1      2180
5      1602
6       652
7       233
8       140
9        64
10       48
12       33
15       17
16       11
14       11
20        8
21        8
31        6
11        6
30        5
18        4
40        3
22        3
51        2
32        2
17        2
125       2
140       2
26        2
25        2
135       1
13        1
27        1
36        1
41        1
295       1
Name: rooms, dtype: int64

In [10]:
df_combined['living_room'].value_counts()

1      21719
2       2901
3        203
0        107
4         91
5         29
8         13
7         13
6         12
10         5
11         4
9          4
150        3
20         2
135        2
120        2
105        2
32         2
15         2
12         1
18         1
25         1
Name: living_room, dtype: int64

In [11]:
df_combined.loc[:,'price'] = df_combined.loc[:,'price'].str.split(' ').str[0]
df_combined.loc[:,'price'] = df_combined.loc[:,'price'].str.replace('.','')
df_combined.loc[:,'price'] = df_combined.loc[:,'price'].str.replace(',','')
df_combined['price'] = df_combined['price'].astype('int64')

In [12]:
df_combined['price']

0          980000
1          900000
2         1890000
3        12500000
4          329000
           ...
25114      460000
25115     1500000
25116     3850000
25117      235000
25118      535000
Name: price, Length: 25119, dtype: int64

In [13]:
mapper_last_edit = {
    'Bugün': '0 Gun',
    'Dün': '1 Gun'
}

df_combined['last_edit'] = df_combined['last_edit'].map(mapper_last_edit).fillna(df_combined['last_edit'])
df_combined.loc[:,'last_edit'] = df_combined.loc[:,'last_edit'].str.split(' ').str[0]
df_combined['last_edit'] = df_combined['last_edit'].astype('int64')
df_combined['last_edit'] = df_combined['last_edit']

In [14]:
df_combined['last_edit'].value_counts()

4      2367
3      2116
5      1935
0      1607
6      1217
9      1156
1      1062
2      1040
10      980
8       831
11      733
7       729
13      713
12      670
19      574
16      557
17      556
18      515
15      495
20      485
23      456
14      450
25      411
24      370
26      365
22      347
27      333
21      308
28      276
30      248
29      222
31      137
32       86
33       69
37       54
36       46
35       46
38       40
41       38
34       37
39       35
42       34
40       33
44       30
45       28
43       26
46       25
48       21
54       17
58       17
55       16
59       15
52       15
49       15
47       13
53       13
56       13
51       12
50       12
57       11
60        8
68        3
88        3
62        3
70        3
82        3
64        2
80        1
118       1
71        1
94        1
142       1
61        1
119       1
65        1
81        1
97        1
73        1
92        1
98        1
72        1
99        1
159       1
Name: last_edit, dtype: int64

In [15]:
df_combined['area'] = df_combined.loc[:,'area'].str.split(' ').str[0]
df_combined['area'] = df_combined['area'].astype('float64')

In [16]:
df_combined['area']

0        140.0
1        110.0
2        178.0
3        500.0
4        155.0
         ...
25114     95.0
25115     85.0
25116    590.0
25117    110.0
25118    130.0
Name: area, Length: 25119, dtype: float64

In [17]:
df_combined.loc[:,'prop_floor'] = df_combined.loc[:,'prop_floor'].str.split(' ').str[0]

asma_index = df_combined[df_combined['prop_floor'] == 'Asma'].index
villa_index = df_combined[df_combined['prop_floor'] == 'Villa'].index
bodrum_index = df_combined[df_combined['prop_floor'] == 'Bodrum'].index
teras_index = df_combined[df_combined['prop_floor'] == 'Teras'].index
zemin_index = df_combined[df_combined['prop_floor'] == 'Zemin'].index
yari_index = df_combined[df_combined['prop_floor'] == 'Yarı'].index
cat_index = df_combined[df_combined['prop_floor'] == 'Çatı'].index
ara_index = df_combined[df_combined['prop_floor'] == 'Ara'].index
en_index = df_combined[df_combined['prop_floor'] == 'En'].index
kot_index = df_combined[df_combined['prop_floor'] == 'Kot'].index

df_combined.drop(asma_index , inplace=True)
df_combined.drop(villa_index , inplace=True)
df_combined.drop(bodrum_index , inplace=True)
df_combined.drop(teras_index , inplace=True)
df_combined.drop(zemin_index , inplace=True)
df_combined.drop(yari_index , inplace=True)
df_combined.drop(cat_index , inplace=True)
df_combined.drop(ara_index , inplace=True)
df_combined.drop(en_index , inplace=True)
df_combined.drop(kot_index , inplace=True)

In [18]:
df_combined = df_combined.dropna(subset=['prop_floor'])

mapper_prop_floor = {
    'Bahçe': '0.',
    'Giriş': '0.',
    'Yüksek': '1.',
}

df_combined['prop_floor'] = df_combined['prop_floor'].map(mapper_prop_floor).fillna(df_combined['prop_floor'])
df_combined.loc[:,'prop_floor'] = df_combined.loc[:,'prop_floor'].str.split('.').str[0]
df_combined['prop_floor'] = df_combined['prop_floor'].astype('int64')
df_combined['prop_floor'] = df_combined['prop_floor'] + 1

In [19]:
df_combined['prop_floor'].value_counts()

2     3905
4     2979
3     2815
1     2752
5     2676
6     1522
7      709
8      573
9      515
11     505
10     488
12     334
13     289
22     276
14     215
15     183
16     115
18      61
17      57
19      38
20      33
21      32
Name: prop_floor, dtype: int64

In [20]:
df_combined.loc[:,'building_age'] = df_combined.loc[:,'building_age'].str.split(' ').str[0]

mapper_building_age = {
    'Sıfır': '0'
}

df_combined['building_age'] = df_combined['building_age'].map(mapper_building_age).fillna(df_combined['building_age'])
df_combined['building_age'] = df_combined['building_age'].astype('int64')

In [21]:
df_combined['building_age'].value_counts()

0      5699
30     1311
25     1097
4      1060
2      1030
1      1030
3       917
5       772
20      738
10      720
35      684
8       536
40      483
15      435
7       430
6       402
12      278
28      263
9       263
26      220
22      174
27      162
18      156
16      152
21      149
13      146
29      143
11      137
32      126
23      124
19      121
31      119
45      115
14      111
50      109
17       96
24       90
38       61
33       55
34       47
36       40
37       36
60       33
42       22
100      21
80       20
39       19
43       11
46       10
55        9
90        8
44        8
41        8
48        7
70        6
65        5
49        5
95        4
52        4
130       3
110       3
75        3
74        2
120       2
150       2
51        2
53        2
85        1
98        1
47        1
67        1
250       1
96        1
128       1
58        1
201       1
69        1
87        1
99        1
79        1
86        1
117       1
71        1
Name: building_age, dtype: int64

In [22]:
heating_type_oreder = df_combined['heating_type'].value_counts()
heating_type_oreder

Kombi                  15127
Merkezi (Pay Ölçer)     3317
Merkezi                 2156
Soba                     139
Klima                     97
Belirtilmemiş             81
Kat Kaloriferi            73
Isıtma Yok                66
Jeotermal Isıtma          12
Güneş Enerjisi             4
Name: heating_type, dtype: int64

In [23]:
mark = list(heating_type_oreder[heating_type_oreder < 111].index)
df_combined["heating_type"] = df_combined["heating_type"].replace(mark,"Diger")

In [24]:
mapper_heating_type = {
    'Soba': 1,
    'Diger': 2,
    'Kombi': 3,
    'Merkezi': 4,
    'Merkezi (Pay Ölçer)': 5
}

df_combined['heating_type'] = df_combined['heating_type'].map(mapper_heating_type)
df_combined['heating_type'] = df_combined['heating_type'].astype('int64')

In [25]:
df_combined.loc[:,'building_floors'] = df_combined.loc[:,'building_floors'].str.split(' ').str[0]
df_combined = df_combined.dropna(subset=['building_floors'])

In [26]:
df_combined['building_floors'] = df_combined['building_floors'].astype('int64')
df_combined['building_floors'].value_counts()

4      5539
5      4883
3      1779
6      1465
9       751
7       731
10      729
8       679
12      570
14      557
11      499
13      431
15      365
2       258
17      167
16      156
20      140
18      130
30       81
32       81
22       78
33       77
19       77
1        59
25       58
52       43
24       43
42       42
23       41
21       40
40       38
29       28
27       23
31       22
35       21
44       20
45       19
34       18
36       17
28       17
26       14
55       13
37        8
48        8
39        6
56        5
54        4
50        4
38        4
51        4
41        4
46        2
75        1
65        1
57        1
112       1
190       1
47        1
Name: building_floors, dtype: int64

In [27]:
df_combined['credit_availability'].fillna('Bilinmiyor',inplace=True)

In [28]:
df_combined['credit_availability'].value_counts()

Uygun          19736
Uygun değil      985
Bilinmiyor       133
Name: credit_availability, dtype: int64

In [29]:
df_combined['furniture_availability'].value_counts()

Eşyalı Değil    20254
Eşyalı            600
Name: furniture_availability, dtype: int64

In [30]:
df_combined['bathrooms'].fillna(1,inplace=True)
df_combined['bathrooms'] = df_combined['bathrooms'].astype('int64')

In [31]:
df_combined['bathrooms'].value_counts()

1     11500
2      7003
3      1593
4       528
5       125
6        45
7        13
8         7
20        5
10        5
9         5
15        3
14        3
24        3
11        3
13        3
16        3
21        2
23        1
25        1
27        1
12        1
29        1
Name: bathrooms, dtype: int64

In [32]:
df_combined['building_type'].fillna('Diğer',inplace=True)

In [33]:
df_combined['building_type'].value_counts()

Betonarme    18294
Diğer         2183
Çelik          149
Kagir          129
Yığma           44
Ahşap           38
Taş Bina        14
Kütük            2
Prefabrik        1
Name: building_type, dtype: int64

In [34]:
df_combined['building_status'].fillna('İkinci El',inplace=True)

In [35]:
df_combined['building_status'].value_counts()

İkinci El           13810
Sıfır                6973
Yapım Aşamasında       71
Name: building_status, dtype: int64

In [36]:
mapper_building_status = {
    'Yapım Aşamasında': 1,
    'İkinci El': 2,
    'Sıfır': 3
}

df_combined['building_status'] = df_combined['building_status'].map(mapper_building_status)
df_combined['building_status'] = df_combined['building_status'].astype('int64')

In [37]:
df_combined['usage_status'].fillna('Diğer',inplace=True)

mapper_usage_status = {
    'Belirtilmemiş': 'Diğer'
}

df_combined['usage_status'] = df_combined['usage_status'].map(mapper_usage_status).fillna(df_combined['usage_status'])

In [38]:
df_combined['usage_status'].value_counts()

Boş                   10737
Kiracı Oturuyor        4199
Ev Sahibi Oturuyor     4027
Diğer                  1891
Name: usage_status, dtype: int64

In [39]:
df_combined['deed'].fillna('Diğer',inplace=True)
deed_index = df_combined[df_combined['deed'] == 'Arsa'].index
df_combined.drop(deed_index , inplace=True)

In [40]:
df_combined['deed'].value_counts()

Kat Mülkiyeti    13324
Diğer             4096
Kat İrtifakı      2812
Name: deed, dtype: int64

In [41]:
df_combined.drop('dues',axis=1,inplace=True)

In [42]:
df_combined['swap'].fillna('Diğer',inplace=True)

In [43]:
df_combined['swap'].value_counts()

Hayır    12553
Diğer     5464
Evet      2215
Name: swap, dtype: int64

In [44]:
mapper_swap = {
    'Evet': 1,
    'Diğer': 2,
    'Hayır': 3
}

df_combined['swap'] = df_combined['swap'].map(mapper_swap)
df_combined['swap'] = df_combined['swap'].astype('int64')

In [45]:
df_combined['student_single'].fillna('Diğer',inplace=True)

In [46]:
df_combined['student_single'].value_counts()

Evet     11249
Diğer     8983
Name: student_single, dtype: int64

In [47]:
df_combined['facade'] = df_combined['facade'].fillna('Güney')

mapper = {
    'Güney,': 'Güney',
    'Kuzey,': 'Kuzey',
    'Doğu,': 'Doğu'
}
df_combined['facade'] = df_combined['facade'].map(mapper).fillna(df_combined['facade'])

In [48]:
df_combined['facade'].value_counts()

Güney    15216
Kuzey     3082
Doğu      1457
Batı       477
Name: facade, dtype: int64

In [49]:
df_combined['fuel_type'].fillna('Diğer',inplace=True)

In [50]:
df_combined['fuel_type'].value_counts()

Doğalgaz      18479
Diğer          1538
Elektrik        186
Kömür-Odun       18
Akaryakıt        11
Name: fuel_type, dtype: int64

In [51]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20232 entries, 0 to 25118
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    20232 non-null  object
 1   district                20232 non-null  object
 2   neighborhood            20232 non-null  object
 3   prop_type               20232 non-null  object
 4   rooms                   20232 non-null  int64
 5   living_room             20232 non-null  int64
 6   price                   20232 non-null  int64
 7   last_edit               20232 non-null  int64
 8   area                    20232 non-null  float64
 9   prop_floor              20232 non-null  int64
 10  building_age            20232 non-null  int64
 11  heating_type            20232 non-null  int64
 12  building_floors         20232 non-null  int64
 13  credit_availability     20232 non-null  object
 14  furniture_availability  20232 non-null  object
 15  bathrooms               20232 non-null  int64
 16  building_type           20232 non-null  object
 17  building_status         20232 non-null  int64
 18  usage_status            20232 non-null  object
 19  deed                    20232 non-null  object
 20  swap                    20232 non-null  int64
 21  student_single          20232 non-null  object
 22  facade                  20232 non-null  object
 23  fuel_type               20232 non-null  object
dtypes: float64(1), int64(11), object(12)
memory usage: 3.9+ MB

In [52]:
df_combined.to_pickle("./data/clean.pkl")